//COLORS

//primary
$primary-1: #25173B;
$primary-2: #3B255F;
$primary-3: #513384;
$primary-4: #6842A9;
$primary-5: #815DC0;
$primary-6: #9E82CE;
$primary-7: #BBA7DD;
$primary-8: #D7CCEB;
$primary-9: #E2DAF1;
$primary-10: #F1EDF8;
$primary-11: #F9F8FC;

//secondary
$neutral-1: #000000;
$neutral-2: #1B1B18;
$neutral-3: #363630;
$neutral-4: #505049;
$neutral-5: #6B6B63;
$neutral-6: #878778;
$neutral-7: #9F9F93;
$neutral-8: #CFCFC9;
$neutral-9: #E7E7E4;
$neutral-10: #FAFAF9;
$neutral-11: #FFFFFF;

//FONT SIZE

$font-xxs: .875rem; 
$font-xs: 1.125rem; 
$font-s: 1.5rem; 
$font-m: 2.063rem; 
$font-l: 2.313rem;
$font-xl: 2.688rem; 
$font-xxl: 4rem; 